
  <div class="offcanvas-body mt-4">
    <h6 class="color-000 text-uppercase mb-15 ltspc-1"> about<i class="la la-angle-right ms-1"></i>
    </h6>
    <div class="text">
      You have visited .newsBox {{ num_visits }} time{{ num_visits|pluralize }}.
    </div>
    <div class="sidebar-categories mt-40">
      <h6 class="color-000 text-uppercase mb-30 ltspc-1"> info <i class="la la-angle-right ms-1"></i></h6>
      <a href="#" class="cat-card">
        <div class="img img-cover">
          <img src="/static/img/bussines/1.png" alt="">
        </div>
        <div class="info">
          <h5>Topics</h5>
          <span class="num">{{ num_topics }}</span>
        </div>
      </a>
      <a href="#" class="cat-card">
        <div class="img img-cover">
          <img src="/static/img/trend/3.png" alt="">
        </div>
        <div class="info">
          <h5>News</h5>
          <span class="num">{{ num_news }}</span>
        </div>
      </a>
      <a href="#" class="cat-card">
        <div class="img img-cover">
          <img src="/static/img/must_read/3.png" alt="">
        </div>
        <div class="info">
          <h5>Redactors</h5>
          <span class="num">{{ num_redactors }}</span>
        </div>
      </a>
    </div>
    <div class="sidebar-contact-info mt-50">
      <h6 class="color-000 text-uppercase mb-20 ltspc-1"> Contact & follow <i class="la la-angle-right ms-1"></i></h6>
      <ul class="m-0">
        <li class="mb-3">
          <i class="las la-map-marker me-2 color-main fs-5"></i>
          <a href="#">Street 11, Nice City, Ukraine</a>
        </li>
        <li class="mb-3">
          <i class="las la-envelope me-2 color-main fs-5"></i>
          <a href="#">admin@newsbox.news</a>
        </li>
        <li class="mb-3">
          <i class="las la-phone-volume me-2 color-main fs-5"></i>
          <a href="#">+38 123 456 789</a>
        </li>
      </ul>
      <div class="social-links">
        <a href="#">
          <i class="la la-twitter"></i>
        </a>
        <a href="#">
          <i class="la la-facebook-f"></i>
        </a>
        <a href="#">
          <i class="la la-instagram"></i>
        </a>
        <a href="#">
          <i class="la la-youtube"></i>
        </a>
        <a href="#">
          <i class="la la-spotify"></i>
        </a>
      </div>
    </div>
  </div>
