{% extends "base.html" %}

{% block content %}
  <section class="tc-popular-posts-blog">
    <div class="container">
      <div class="content-widgets pt-30 pb-30">
        <p class="color-000 text-uppercase mb-30 ltspc-1">
          <span> {{ object|yesno:"Update,Create" }} Redactor </span>
          <i class="la la-angle-right ms-1"></i>
        </p>
        <form action="" method="post" novalidate>
          <div class="form-content">
            {% csrf_token %}
            {{ form.as_div }}
          </div>
          <input class="btn btn-success" type="submit" value="Submit">
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Cancel</a>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
